@model Studentparlamentet_28.Models.Bruker
<div class="panel-body" id="panelBrukerIndex">

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Norsk
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Index", "Bruker")">Norsk</a></li>
        </ul>
    </div>

    <h3 class="brukerHeader">Valg og votering</h3>

    <div id="txtBruker">
        <p>Please stay logged in.</p>
        <p>Waiting for a vote or election...</p>
    </div>

    @Html.ActionLink("Sign out", "LoggUt", new { id = Model.brukernavn }, new { @class = "btn btn-danger", id = "loggUtBtn" })

</div>