@model Studentparlamentet_28.Models.Admin
@{
    ViewBag.Title = "Change accountinfo";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //Hjelpevariabler

        $(function () {
            //Endre passord metode
            $("#btnEndrePassord").click(function () {
                var gammeltPassord = $("#gammelpassord").val();
                var nyttPassord = $("#nyttpassord").val();
                var nyttPassord2 = $("#nyttpassord2").val();

                if (nyttPassord != nyttPassord2) {
                    $("#sletteMelding").hide();
                    $("#sletteMelding").hide();
                    $("#mldPassord").hide();
                    $("#mldfeilPassord").show();
                    $("#mldfeilPassord").html("");
                }
                else {
                    $.ajax({
                        url: '/Bruker/endrePassordAdmin',
                        data: {
                            gammeltPassord: gammeltPassord,
                            nyttpassord: nyttPassord
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (melding) {
                            if (melding == "OK") {
                                $("#sletteMelding").hide();
                                $("#mldfeilPassord").hide();
                                $("#mldPassord").show();
                                $("#mldPassord").html("Password has been changed.");
                            }
                            else if (melding == "Gammelt passord feil") {
                                $("#sletteMelding").hide();
                                $("#mldPassord").hide();
                                $("#mldfeilPassord").show();
                                $("#mldfeilPassord").html("Current password is incorrect.");
                            }
                            else {
                                $("#sletteMelding").hide();
                                $("#mldPassord").hide();
                                $("#mldfeilPassord").show();
                                $("#mldfeilPassord").html("Password not changed, try again.");
                            }
                        },
                        error: function (x, y, z) {
                        }
                    });
                }

            });

        }) //Her stopper function()
        $(document).ready(function () {
            var full_url = document.URL; // Get current url
            var url_array = full_url.split('/')
            var data_id = url_array[url_array.length - 1];// Get the last part of the array (-1)
            if (data_id == 0) {
                $("#sletteModal").modal()
                $("#slettNavnDiv").hide();
                $("#feilpassordDiv").show();

            }
            else if (data_id == 1) {
                $("#sletteMelding").show();
            }
        });
    </script>
</head>
<body>

    <br /><br />


    <div class="col-sm-12" id="AdminEndre">
        @Html.ActionLink(" ", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Back", "IndexEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    English
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("endreAdminkonto", "Bruker")">Norsk</a></li>
                </ul>
            </div>
        </div>

        <br />
        <h2><b>Change administrator account</b></h2>
        <br /><br />
        <h3>Here you can delete all data like voteslips and results from the database </h3>
        <br />
        <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp" data-toggle="modal" data-sletteModal="true">Reset system</a>
        <br /><br />
        <div class="alert alert-success" id="sletteMelding" style="display:none">All data has been deleted.</div>
        <div class="col-sm-12"><hr id="hrSTV" /></div>
        <br />
        <div id="passord">
            <h3>Change administrator password</h3>
            <br />
            <input type="password" id="gammelpassord" style="position:center" name="Gammel passord" placeholder="Old password">
           <br /><br />
             <input type="password" id="nyttpassord" style="position:center" name="Nytt passord" placeholder="New password">
            <br /><br />
             <input type="password" id="nyttpassord2" style="position:center" name="Nytt passord" placeholder="Repeat new password">
            <br /><br />
            <div class="form-group" id="EndreBtn">
                <input type="button" value="Change password" id="btnEndrePassord" class="btn btn-primary" />
                <div class="alert alert-warning" id="mldfeilPassord" style="display:none"></div>
                <div class="alert alert-success" id="mldPassord" style="display:none"></div>
            </div>
            <br /><br />
        </div>
    </div>

    @Html.Partial("../User/SletteModalEndreAdminKontoEng", new Studentparlamentet_28.Models.Kandidat())
</body>
</html>











