@model List<Studentparlamentet_28.Models.PersonvalgKandidatResultat>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="col-sm-12" align="center" id="PersonvalgResultat">
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Back", "lagretPersonvalgEng", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })

            
        </div>
        <br />
        <h3>Winner Person Election </h3>
        <div id="PersonvalgResultatContainer">
            @foreach (var item in Model)
            {

                <ul class="list-group" id="ListeResultat" align="center">

                    <li class="list-group-item">Candidate</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.fornavn) @Html.DisplayFor(modelItem => item.etternavn)</li>
                    <li class="list-group-item">Number of votes</li>
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.stemmer)</li>
                </ul>


            }
        </div>
    </div>


</body>
</html>