@model Studentparlamentet_28.Models.Kandidat

<div id="PersonvalgStemmeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close modal-lg" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title">Confirm Candidate</h2>
            </div>

                <div class="modal-body">
                    <div class="alert alert-success">
                        <h3>You chose Candidate</h3>
                        <h3><div id="Kandidat"><b></b></div></h3>
                        <h3><p>Push to Vote</p></h3>
                        <br />
                        @using (Html.BeginForm())
                        {
                            <input name="submit" type="submit" value="Vote" class="btn btn-success btn-lg" />
                            <input type="hidden" id="IDKandidat" name="id" />
                        }

                    </div>
                    </div>
                <div class="modal-footer">
                 
                    <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal">Close</button>
  
                </div>
            
        </div>
    </div>
</div>
