@model Studentparlamentet_28.Models.Kandidat
<div id="slettePersonvalgModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Confirm deleteing</h3>
            </div>


            <div class="modal-body">
             
                <div class="alert alert-warning" id="feilmeldingslettePersonvalg" style="display: none;"></div>
                <div class="alert alert-warning" id="feilpassord" style="display:none">
                   Wrong password
                </div>
                <div class="alert alert-success">
                    @using (Html.BeginForm())
                    {
                        <p>Push delete to remove Person election with Election ID</p><div id="personvalgID"></div>
                        <p>Candidates and the result to this Person Election will be deleted</p>

                        @Html.EditorFor(model => model.passordEng, new { htmlAttributes = new { @type = "password", @class = "form-control", placeholder = "Password" } })
                        @Html.ValidationMessageFor(model => model.passordEng, "", new { @class = "text-danger" })


                        <input type="hidden" id="valgtypeID3" name="valgtypeID3" class="Valgtype3" />
                        <input type="hidden" id="valgtypeID2" name="valgtypeID2" value=0 />
                        <br />
                        <input name="submit" type="submit" value="Delete" class="btn btn-success" />


                    }
                </div>
            </div>



            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>


            </div>

        </div>
    </div>
</div>
