@model Studentparlamentet_28.Models.Valgtyper
@{
    ViewBag.Title = "Votering";
}

<div class="col-sm-12" id="LoginForm">
    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            English
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("Votering", "Bruker")">Norsk</a></li>
        </ul>
    </div>
    <br />
    <h2 align="center">Vote</h2>
    <h3 align="center">@Model.melding</h3>
    @using (Html.BeginForm("Voteringsvar", "Bruker"))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="funkyradio">
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio1" value="for" />
                <label for="radio1">For</label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio2" value="mot" />
                <label for="radio2">Against</label>
            </div>
            <div class="funkyradio-success">
                <input type="radio" name="radio" id="radio3" value="blank" />
                <label for="radio3">Blank</label>
            </div>
        </div>
        <div id="stemBtn">
            <button type="submit" class="btn btn-success">Vote</button>
        </div>
    }
</div>
