@model Studentparlamentet_28.Models.Bruker



<div class="panel-body" id="panelBrukerIndex">

    <h3 class="brukerHeader">Valg og votering</h3>

    <div id="txtBruker">
        <p>Vennligst forbli innlogget</p>
        <p>Venter på valg...</p>
    </div>

    @Html.ActionLink("Logg ut", "LoggUt", new { id = Model.brukernavn }, new { @class = "btn btn-danger", id = "loggUtBtn" })

</div>