@model Studentparlamentet_28.Models.Admin
@{
    ViewBag.Title = "Endre administratorkonto";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //Hjelpevariabler

        $(function () {

            //Endre passord metode
            $("#btnEndrePassord").click(function () {
                var gammeltPassord = $("#gammelpassord").val();
                var nyttPassord = $("#nyttpassord").val();
                var nyttPassord2 = $("#nyttpassord2").val();

                if (nyttPassord != nyttPassord2) {
                    $("#sletteMelding").hide();
                    $("#mldPassord").hide();
                    $("#mldfeilPassord").show();
                    $("#mldfeilPassord").html("De nye passordene er ikke like.");
                }
                else {
                    $.ajax({
                        url: '/Bruker/endrePassordAdmin',
                        data: {
                            gammeltPassord: gammeltPassord,
                            nyttpassord: nyttPassord
                        },
                        type: 'GET',
                        dataType: 'json',
                        success: function (melding) {
                            if (melding == "OK") {
                                $("#sletteMelding").hide();
                                $("#mldPassord").show();
                                $("#mldfeilPassord").hide();
                                $("#mldPassord").html("Passordet er endret.");
                            }
                            else if (melding == "Gammelt passord feil") {
                                $("#sletteMelding").hide();
                                $("#mldPassord").hide();
                                $("#mldfeilPassord").show();
                                $("#mldfeilPassord").html("Gammelt passord er feil, prøv igjen.");
                            }
                            else {
                                $("#sletteMelding").hide();
                                $("#mldPassord").hide();
                                $("#mldfeilPassord").show();
                                $("#mldfeilPassord").html("Passordet ikke endret, prøv igjen.");
                            }
                        },
                        error: function (x, y, z) {
                        }
                    });
                }

            });

        }) //Her stopper function()
        $(document).ready(function () {
            var full_url = document.URL; // Get current url
            var url_array = full_url.split('/')
            var data_id = url_array[url_array.length - 1];// Get the last part of the array (-1)
            if (data_id == 0)
            {
                $("#sletteModal").modal()
                $("#slettNavnDiv").hide();
                $("#feilPassordDiv").show();
               
            }
            else if (data_id == 1)
            {
                $("#sletteMelding").show();
            }
          
        });
    </script>
</head>
<body>

    <br /><br />


    <div class="col-sm-12" id="AdminEndre">
        @Html.ActionLink(" ", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default glyphicon glyphicon-home btn-md" })
        <div class="form-inline" style="float:right;">
            @Html.ActionLink("Tilbake", "Index", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-default" })
            <div class="dropdown" style="float:right;">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    Norsk
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="@Url.Action("endreAdminkontoEng", "Bruker")">English</a></li>
                </ul>
            </div>
        </div>

        <br />
        <h2><b>Administrer kontoinnstillinger</b></h2>
        <br /><br />
        <h3> Her kan du slette all data som stemmesedler og resultat fra databasen.</h3>
        <br />
        <a href="#sletteModal" class="btn btn-large btn-danger" id="sletteKnapp" data-toggle="modal" data-sletteModal="true">Nullstill system</a>
        <br /><br />
        <div class="alert alert-success" id="sletteMelding" style="display:none">All data er slettet.</div>
        <div class="col-sm-12"><hr id="hrSTV" /></div>
        <br />
        <div id="passord">
            <h3>Endre administrator passord</h3>
            <br />
            <input type="password" id="gammelpassord" style="position:center" name="Gammelt passord" placeholder="Gammelt passord">
            <br /><br />
            <input type="password" id="nyttpassord" style="position:center" name="Nytt passord" placeholder="Nytt passord">
            <br /><br />
            <input type="password" id="nyttpassord2" style="position:center" name="Nytt passord" placeholder="Gjenta nytt passord">
            <br /><br />
            <div class="form-group" id="EndreBtn">
                <input type="button" value="Endre passord" id="btnEndrePassord" class="btn btn-primary" />
                <div class="alert alert-warning" id="mldfeilPassord"style="display:none"></div>
                <div class="alert alert-success" id="mldPassord" style="display:none"></div>

            </div>
            <br /><br />
        </div>
    </div>

    @Html.Partial("SletteModalEndreAdminKonto", new Studentparlamentet_28.Models.Bruker())


</body>
</html>










