<div class="col-sm-12" id="LoginForm">

    <div class="dropdown" style="float:right;">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            Norsk
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="@Url.Action("LeggTilBruker", "Bruker")">Norsk</a></li>
        </ul>
    </div>

    <br />
    <h2 style="text-align:left;">Add users</h2>
    <br />
    <div class="form-group">
        <label for="usr">Select number:</label>
        <input type="text" class="form-control" id="antall">
    </div>
    <button type="button" class="btn btn-success">Make list</button>
    <button type="button" class="btn btn-success">View list</button>
    <button type="button" class="btn btn-success">Download list</button>

</div>
