@{
    ViewBag.Title = "Stemmeseddel";
}
<div id="stemmeModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <center><h4 class="modal-title">Bekreft stemmeseddel</h4></center>
            </div>

            <div class="modal-body">

                <div class="alert alert-info">
                    <p>Vennligst se over din prioriterte liste og avgi stemme dersom den er korrekt.</p>
                </div>

                <div class="row">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-4 col-sm-offset-1" id="stemData"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-4 pull-left">
                        <button type="button" class="btn btn-sm btn-danger pull-left" data-dismiss="modal">Gå tilbake</button>
                    </div>
                    <div class="col-sm-3">
                        <input name="avgiStemmeBtn" id="avgiStemmeKnapp" type="button" value="Avgi stemme" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

