<div class="col-sm-12" id="LoginForm">
    <h2>Voting</h2>
    <label>Number of votes</label>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
            <span>60% have voted</span>
        </div>
    </div>

    <button class="button1" style="vertical-align:middle"><span>Stop the voting</span></button>
    <button class="button1" style="vertical-align:middle"><span>View results</span></button>
</div>
