html, body {
    height: 100%;
    background: #ededed; 
}

body {
    
    
    background: -webkit-linear-gradient(#ededed, lightgrey); 
    background: -o-linear-gradient(#ededed, lightgrey);
    background: -moz-linear-gradient(#ededed, lightgrey);
    background: linear-gradient(#ededed, lightgrey); 
    background-size: 100%;
    width: 100%;
    
}

#LoginForm {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
     
}

#LoginForm .LoginHeader {
    margin-bottom: 30px;
    text-align:left;
}

#LoginForm #LogginnBtn{
    margin-top: 30px;
    text-align: left;
}


#panelAdminIndex {
   
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
   
}

#panelAdminIndex li {
    border: none;
    text-align: center;
}

#borderListGroup {
    border: 1px solid  rgba(0,0,0,0.1); 
    border-radius: 25px;
}

#borderListGroup a:hover {
    background-color: beige;
}

#borderListGroup a:hover h5{
    color: black;
}
#borderListGroup a:hover small{
    color: black;
}


#panelBrukerIndex {
    background-color: #fff;
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 2px solid rgba(0,0,0,0.1); 
}

#panelBrukerIndex .brukerHeader {
    margin-bottom: 30px;
    text-align:center;
}

#panelBrukerIndex h4{
    font-size:12px;
    text-align:center;
}

#panelBrukerIndex p {
    text-align: center;
}

#loggUtBtn{
    margin-top: 30px;
    margin-left: 22%;
    width: 150px;
}

