html, body {
    height: 100%;
}

body {
   
background: #ffffff;
background: -moz-linear-gradient(-45deg, #e0dedf 50%, #e37d72 50%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(50%,#e0dedf), color-stop(50%,#e37d72));
background: -webkit-linear-gradient(-45deg, #e0dedf 50%,#e37d72 50%);
background: -o-linear-gradient(-45deg, #e0dedf 50%,#e37d72 50%);
background: -ms-linear-gradient(-45deg, #e0dedf 50%,#e37d72 50%);
background: linear-gradient(135deg, #e0dedf 50%,#e37d72 50%);

}
#indexFeilmelding{
    width:auto;
}
#melding2
{
    text-align:center;
}

#lagretPersonvalgKnapper
{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
#overskriftAdmin{
    font-size:35px;
    text-align:center;
}
#txtPreferansevalgModal
{
    font-size: 25px;
}
#txtBruker
{
    font-size: 20px;
}
#slettemodalText
{
    font-size:15px;
}
#feilmeldingslettemodal
{
    width: 199px;
}
#sucessSletteModal
{
    height: 400px;
}
#sletteModalText
{
    font-size:38px;
   
}
#panelVoteringResultat
{
     border-radius: 25px;
     background-color: whitesmoke;
}
#LoginFormVoteringAdmin {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 550px;
    max-height: 750px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}
#vinner
{
       font-size: 58px;
   font-weight: bold;
}
#antallmot{
   font-size: 48px;
   font-weight: bold;
}
#antallfor{
   font-size: 48px;
   font-weight: bold;
}
#antallblank{
   font-size: 50px;
   font-weight: bold;
}
#LoginFormResultatVotering
{
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 700px;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 

}
.containerVotering {
  display: flex;
  height: 125px;

 
}
.containerVotering > div {
  flex: 1; /*grow*/

}
#antallDeltagere
{
    font-size : 48px;
}
#antallstemt
{
    font-size : 48px;
}
#panelVotering
{
   
}
#beskrivelseVotering
{
    height: 30px;
    width:100%;
    font-size: 20px;
    background-color:white;
   text-align:center;
    
}
#stemmeKnapp
{
    color:white;
    background-color:cornflowerblue;
    font-weight: bold;
    
}
#ListeResultat
{ 

}
#feilmelding{
    max-width: 530px;
}
#PersonvalgTableFooter{
        position: absolute;
        bottom: 10px;
         right: 25px;
}
#listeKandidater2{
     font-size: 15px;     
     overflow: auto;
     overflow-x:hidden;
     height: 200px;
     
}

#listeKandidater{
     font-size: 15px;     
     overflow: auto;
     overflow-x:hidden;
     height: 150px;
     
}

/*Preferansevalg*/
#containerSTV{
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 800px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
}

#UtfortePreferansevalg{
    background-color: whitesmoke;
    border: 4px solid rgba(0,0,0,0.1); 
}

/*PreferansevalgBruker*/
#containerSTVBruker {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 700px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
}
#hrSTV {
    display: block;
    height: 0.5px;
    border: 0;
    border-top: 0.5px solid black;
    
    padding: 0; 
}
#stemBtnStv{
    text-align: center;
}

#lenkeRadSTV a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size: 16px !important;
}


/*ResultatPreferansevalg*/
#ResultatpreferansevalgContainer {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 750px;
    max-height: 610px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}


/*Personvalg*/
          #kandidat{
              background-color: red;
          }  
#PersonvalgResultatContainer
{
     max-width: 650px;    
     max-height: 800px;
     overflow: scroll;
     overflow-x:hidden;
}
#PersonvalgResultat
{
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: inherit;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
}
#tester{
    background-color: InfoText;
}
#PersonvalgStemmeContainerList
{
    height: inherit;
  
        font-size: 35px;
       
}
#PersonvalgStemmeContainer
{
  max-width: inherit;
  max-width: inherit;

}
#PersonvalgStemme
{
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: inherit;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
}
#antallstemt
{
    font-size : 48px;
}
#personvalgmeldingID
{
    font-size : 48px;
}
#antallbrukere
{
    font-size : 48px;
}
#scrollTabell {
    height: 500px;
    overflow: auto;
    overflow-x:hidden;
}
#lagretPersonvalg {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: inherit;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}
#Personvalg {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: inherit;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}
#PersonvalgPartial {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: inherit;
    max-height: inherit;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}

#tableContainerPersonvalg {
    height: 300px;
    overflow: auto;
    background-color: whitesmoke;

}

/*Resultat*/

        #forProgress {
            width: 100%;
            background-color: #ddd;

        }

        #forBar {
            width: 20%;
            height: 50px;
            background-color: #4CAF50;
            text-align: center;
            line-height: 50px;
            color: white;

        }

        #motProgress {
            width: 100%;
            background-color: #ddd;
        }

        #motBar {
            width: 20%;
            height: 50px;
            background-color: #ff0000;
            text-align: center;
            line-height: 50px;
            color: white;
        }

        #blankProgress {
            width: 100%;
            background-color: #ddd;
        }

        #blankBar {
            width: 20%;
            height: 50px;
            background-color: #42aaf4;
            text-align: center;
            line-height: 50px;
            color: white;
           
        }

/*LoginForm*/
#ADmin {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}
#LoginForm2 {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 00px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}

#LoginForm2 .LoginHeader {
    margin-bottom: 30px;
    text-align:left;
}

#LoginForm2 #LogginnBtn{
    margin-top: 30px;
    text-align: left;
}

#LoginForm {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 400px;
    max-height: 700px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
     
}

#LoginForm .LoginHeader {
    margin-bottom: 30px;
    text-align:left;
}

#LoginForm #LogginnBtn{
    margin-top: 30px;
    text-align: left;
}

/*Knapper*/
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: lightcoral;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  margin: 5px;
}

.button1 span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.progress {
    position: relative;
}

#stemBtn{
    text-align: center;
    padding: 10px;
}

/*Votering*/

.funkyradio div {

	clear: both;
  
	overflow: hidden;

}

.funkyradio label {

  	width: 100%;
  
	border-radius: 3px;
  
	border: 1px solid #D1D3D4;
  
	font-weight: normal;
     font-size: x-large;

}

.funkyradio input[type="radio"]:empty{

	display: none;	

}

.funkyradio input[type="radio"]:empty ~ label {
  
	position: relative;
  
	line-height: 2.5em;
  
	text-indent: 3.25em;
  
	margin-top: 2em;
  
}

.funkyradio input[type="radio"]:empty ~ label:before {
  
	position: absolute;
  
	display: block;
  
	top: 0;
  
	bottom: 0;
  
	left: 0;
  
	content: '';
  
	width: 2.5em;
  
	background: #D1D3D4;
  
	border-radius: 3px 0 0 3px;

}

.funkyradio input[type="radio"]:checked ~ label {
  
	color: #777;

}

.funkyradio input[type="radio"]:checked ~ label:before {
  
	content: '\2714';
  
	text-indent: .9em;
  
	color: #333;
  
	background-color: #ccc;

}

.funkyradio-success input[type="radio"]:checked ~ label:before {
  
	color: #fff;
  
	background-color: #5cb85c;

}

/*AdminIndex Panel*/
#panelAdminIndex {
   
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
   
}

#panelAdminIndex li {
    border: none;
    text-align: center;
}

#borderListGroup {
    border: 1px solid  rgba(0,0,0,0.1); 
    border-radius: 25px;
}

#borderListGroup a:hover {
    background-color: beige;
}

#borderListGroup a:hover h5{
    color: black;
}
#borderListGroup a:hover small{
    color: black;
}

/*BrukerIndex Panel*/
#panelBrukerIndex {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 400px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 
}

#panelBrukerIndex .brukerHeader {
    margin-bottom: 30px;
    text-align:center;
}

#panelBrukerIndex h4{
    font-size:12px;
    text-align:center;
}

#panelBrukerIndex p {
    text-align: center;
}

#box {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 600px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 

}


#loggUtBtn{
    margin-top: 30px;
    margin-left: 22%;
    width: 150px;
}

/*LeggTilBruker*/
#antall
{
    width: 77px;
}
#antalleng
{
    width: 77px;
}

#msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
    text-align:center;
}


/*VisListe*/
#tableContainer {
    height: 400px;
    overflow: auto;
    background-color: whitesmoke;

}
#box
{
    background-color: whitesmoke;
}
#tableID {
    max-width: 99%;
     
    }


#box2 {
    background-color: whitesmoke;
    border-radius: 25px;
    max-width: 800px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,0.1); 

}


.containerResultat {
    height: 500px;
    overflow: auto;
    background-color: whitesmoke;
}
.containerResultat h1{
    color: red;

}



#tableHentResultat {
    height: 500px;
    overflow: auto;
}

#resultatVotering{
    background-color: whitesmoke;
    border-radius: 25px;
    border: 4px solid rgba(0,0,0,0.1); 

}